In [4]:
# Importing the necessary libraries -->
import numpy as np
import pandas as pd
import piplite
await piplite.install('jinja2')
await piplite.install('watermark')

## 01.Study the table carefully and answer the questions given below

In [5]:
# Making the DataFrame
d  = {'CAR/YEAR':['A','B','C','D','E'],
      '2013':[35,39,52,50,36],
      '2014':[40,45,25,42,46],
      '2015':[48,54,32,45,42],
      '2016':[50,60,54,46,48],
      '2017':[36,72,45,47,55]}

# DataFrame without any styling
# print("01.Study the table carefully and answer the questions given below:\n")
df=pd.DataFrame(data=d)
styles=[dict(selector="Caption",props=[("background-color", "cyan"),("font-size","120%"),("text-align", "middle"), ("color", 'blue'),("font-weight","bold")])]
df.style.set_caption('1.The table shows the production of different type of cars (in thousand)').set_table_styles(styles)

## Ex-01 The total production of car of type B in 2013,2014,2015 & 2017 taken together is what percent less than the total production of all types of cars in 2017 ?
a) 18.2% b) 18.4% c) 15.8 % d) 17.6%

In [37]:
# See top 5 rows
df.head()
# Sum rows for col1,2,3 and col5
dflist=['2013','2014','2015','2016','2017']
df['Results']=df[dflist].sum(axis=1)
df

  CAR/YEAR  2013  2014  2015  2016  2017  Results
0        A    35    40    48    50    36      209
1        B    39    45    54    60    72      270
2        C    52    25    32    54    45      208
3        D    50    42    45    46    47      230
4        E    36    46    42    48    55      227

In [40]:
print("Total production of Car B in 2013,2014,2015,2017 \n")
df.loc[[1],['2013','2014','2015','2017']]

Total production of Car B in 2013,2014,2015,2017

   2013  2014  2015  2017
1    39    45    54    72

In [41]:
print("Total production of Cars in 2017 \n")
df.loc[0:4,'2017']

Total production of Cars in 2017

0    36
1    72
2    45
3    47
4    55
Name: 2017, dtype: int64

In [44]:
df.head()
sum_of_cols=df.sum(axis=0)
print(sum_of_cols)

CAR/YEAR    ABCDE
2013          212
2014          198
2015          221
2016          258
2017          255
Results      1144
dtype: object

In [57]:
print("Required Percentage \n")
a=df.merge(pd.DataFrame(df3.groupby('2017'))

Required Percentage

  CAR/YEAR  2013  2014  2015  2016  2017  Results
0        A    35    40    48    50    36      209
1        B    39    45    54    60    72      270
2        C    52    25    32    54    45      208
3        D    50    42    45    46    47      230
4        E    36    46    42    48    55      227

In [74]:
df.pct_change(axis=1)
df

<class 'TypeError'>: unsupported operand type(s) for /: 'int' and 'str'

4. Print Dependences
Dependences are fundamental to record the Computational Environment.
- Use watermark to print version of python,ipython and characteristics of the computer

In [ ]:
# %load_ext watermark
# # python,ipython,packages,and machine characteristics.
# # %watermark --iversion
# # %watermark

# %watermark -v -m -p pandas,numpy,watermark,piplite,jinja2

# # date 
# print (" ")
# %water -u -n -t -z